.Calendar {
    .DateRangePickerInput {
        display: flex;
        .DateInput_input {
            width: 120px;
        }
        .DateInput .DateInput_1 {
            padding-right: 10px;
        }
    }
    .CalendarDay {}
}