.ChatBot {
    position: relative;
    top: -470px;
    left: -150px;
    width: 360px;
    height: 460px;
    background-color: white;
    border-radius: 30px;
    border: none;
    .title {
        height: 60px;
        width: 100%;
        background-color: #0095f6;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        span {
            position: relative;
            top: 20px;
            font-size: 20px;
            color: white;
            font-weight: bold;
        }
    }
    .chatbot-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 8px;
        .chat-board {
            width: 340px;
            height: 330px;
            background-color: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            overflow: scroll;
            .board-container {
                width: 100%;
                .wrap {
                    display: flex;
                    width: 100%;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding-bottom: 40px;
                    .user-div {
                        width: 100px;
                        float: right;
                        align-self: flex-end;
                        color: black;
                        padding-right: 10px;
                        font-weight: bold;
                        font-size: 14px;
                        .user-name-col {
                            justify-self: end;
                            padding-bottom: 10px;
                            color: black;
                            font-size: 14px;
                        }
                        .user-comment-col {
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            background-color: #0095f6;
                            font-size: 13px;
                            color: white;
                        }
                        .time {
                            padding-top: 10px;
                            font-size: 10px;
                        }
                    }
                    .chat-div {
                        display: flex;
                        flex-direction: column;
                        padding-top: 5px;
                        .chat-name {
                            font-weight: bold;
                            padding-bottom: 8px;
                        }
                        .chat-content {
                            background-color: rgba(0, 0, 0, 0.2);
                            padding: 13px;
                            justify-self: center;
                            margin-left: 25px;
                            border-radius: 7px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .chat-input {
            position: relative;
            padding-top: 10px;
            .user-type {
                padding: 10px;
                border-radius: 10px;
                width: 100%;
                outline: none;
                border: none;
            }
            .send-btn {
                position: absolute;
                padding: 10px;
                right: 2px;
                border: none;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                &:hover {
                    color: rgb(0, 106, 213);
                    font-weight: 800;
                    transition: 0.5s;
                }
            }
        }
    }
}

.hide {
    display: none;
}