.Slider {
    .slider-container {
        padding: 0 70px 180px;
        background-color: #868a8f;
        .slider-top {
            display: flex;
            width: 1000px;
            justify-content: space-between;
            padding-top: 60px;
            padding-bottom: 30px;
            h1 {
                width: 100%;
                font-size: 30px;
                color: white;
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            .slider-top-right {
                width: 300px;
            }
        }
        .slider-contents {
            overflow: hidden;
            .slider-contents-lists {
                display: flex;
                .slider-content-list-wrap {
                    padding-left: 20px;
                    &:first-child {
                        padding-left: 0px;
                    }
                    .slider-content-list {
                        position: relative;
                        width: 350px;
                        height: 350px;
                        img {
                            width: 100%;
                            height: 100%;
                            opacity: 0.7;
                        }
                        .slider-content {
                            bottom: -10%;
                            height: 100%;
                            position: absolute;
                            .slider-content-inner {
                                display: flex;
                                flex-direction: column;
                                align-content: space-between;
                                padding: 0 20px;
                                .slider-content-inner-top {
                                    padding-bottom: 180px;
                                    .slider-content-inner-loc {
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: white;
                                        ;
                                    }
                                    .slider-content-inner-title {
                                        font-size: 20px;
                                        font-weight: 500;
                                        padding-top: 10px;
                                        color: white;
                                    }
                                }
                                .slider-content-inner-bottom {
                                    .slider-content-inner-price {
                                        font-size: 28px;
                                        padding-bottom: 10px;
                                        color: white;
                                    }
                                    .slider-content-inner-rateAndMark {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        .slider-content-inner-rate {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slider-btn {
                .left {
                    position: absolute;
                    bottom: 50%;
                }
                .right {
                    position: absolute;
                }
            }
        }
    }
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    widows: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: "Font Awesome 5 Free";
    color: #f8ce0b;
    font-weight: 900;
}