.Buttons {
  display: flex;
  justify-content: center;
  padding: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: lightgray;
    font-size: 11px;

    &:hover {
      cursor: pointer;
      background-color: #0095f6;
    }
  }
}
