.ProductDetail {
    display: flex;
    width: 100%;
    justify-content: center;
    .product-datail-container {
        .product-image-slider {
            width: 1024px;
            height: 540px;
            padding-left: 30px;
            .product-image-cnt {
                position: absolute;
                width: 100px;
                height: 30px;
                left: 20%;
                bottom: 15%;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 10px;
                i {
                    font-size: 25px;
                    color: white;
                    margin-right: 20px;
                }
                span {
                    color: white;
                    font-weight: bold;
                    font-size: 23px;
                }
            }
            .DetailSlider {
                width: 1024px;
                height: 640px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .icon {
                position: absolute;
                background-color: white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid transparent;
                cursor: pointer;
                i {
                    font-size: 20px;
                    color: black;
                }
            }
            .link {
                top: 25%;
                left: 75%;
            }
            .book-mark {
                top: 25%;
                left: 80%;
            }
        }
        .product-detail-content-container {
            display: flex;
            flex-direction: column;
            padding-top: 120px;
            .product-detail-info-wrap {
                padding-top: 30px;
                display: flex;
                .left {
                    display: flex;
                    flex-direction: column;
                    width: 700px;
                    padding-right: 20px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    .left-top {
                        padding-top: 20px;
                        .left-top-header {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 20px;
                            span {
                                font-size: 20px;
                                font-weight: bold;
                                color: rgb(0, 106, 213);
                            }
                            .left-top-heaer-number {
                                font-size: 12px;
                                font-weight: bold;
                                padding: 8px;
                                border-radius: 5px;
                                color: rgb(0, 106, 213);
                                border: 1px solid rgba(0, 0, 0, 0.2)
                            }
                        }
                        .left-top-desc {
                            padding-bottom: 20px;
                            h3 {
                                font-size: 50px;
                            }
                        }
                        .left-top-host-info {
                            display: flex;
                            padding-bottom: 20px;
                            .left-top-host-info-image {
                                width: 60px;
                                height: 60px;
                                padding-right: 15px;
                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .left-top-host-info-desc {
                                display: flex;
                                flex-direction: column;
                                align-self: center;
                                .host-title {
                                    font-size: 12px;
                                    color: rgba(0, 0, 0, 0.3);
                                    padding-bottom: 5px;
                                }
                                .host-name {
                                    font-weight: bold;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                    .left-middle-table {
                        padding-top: 50px;
                        width: 700px;
                        .left-middle-table-header {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 2px solid black;
                            padding-bottom: 10px;
                            font-weight: bold;
                            .left-middle-table-btn {
                                input {
                                    background-color: transparent;
                                    border: 1px solid rgb(0, 106, 213);
                                    padding: 8px 13px;
                                    outline: none;
                                    cursor: pointer;
                                    &:first-child {
                                        border-right: none;
                                    }
                                    &:last-child {
                                        border-left: none;
                                    }
                                }
                                .area2 {}
                                .area {}
                            }
                        }
                        .left-middle-table-content {
                            display: flex;
                            .row {
                                width: 350px;
                                display: flex;
                                flex-direction: column;
                                padding: 0px 10px;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                                &:last-child {
                                    border-left: 1px solid rgba(0, 0, 0, 0.3);
                                }
                                .row-ele {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 30px 0px;
                                    &:first-child {
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                                    }
                                    .area-title,
                                    .story-title,
                                    .acceptable-ppl-title,
                                    .acceptable-cars-title {
                                        font-size: 20px;
                                        color: rgba(0, 0, 0, 0.3);
                                    }
                                }
                            }
                        }
                    }
                    .left-desc {
                        line-height: 40px;
                    }
                    .left-desc-rules {
                        .left-desc-rules-header {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            font-weight: bold;
                            padding-top: 20px;
                        }
                    }
                    .left-desc-nearby-info {
                        .left-desc-nearby-header {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            font-weight: bold;
                            padding-top: 20px;
                        }
                    }
                }
                .right {
                    width: 360px;
                    .right-wrap {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 15px;
                        .right-price-and-rate {
                            display: flex;
                            flex-direction: column;
                            .price {
                                padding-top: 10px;
                                font-size: 30px;
                            }
                            .rate {
                                padding: 20px 0px;
                                color: rbga(0, 0, 0, 0.2);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                        .right-user-select-date {
                            padding: 20px 0px;
                            width: 100%;
                            .right-user-select-date-header {
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 20px;
                                border-bottom: 2px solid black;
                            }
                        }
                        .right-user-select-date-wrap {
                            position: relative;
                            display: flex;
                            width: 100%;
                            padding-top: 20px;
                            i {
                                position: relative;
                                padding: 0 5px;
                                left: 3px;
                                top: 12px;
                            }
                            .date-wrap {
                                display: flex;
                                width: 155px;
                                &:first-child {}
                                input {
                                    padding: 15px 0px;
                                }
                                .date-start {
                                    margin-right: 5px;
                                    // input {
                                    //     width: 90px;
                                    // }
                                }
                                .time-start {
                                    // input {
                                    //     width: 55px;
                                    // }
                                }
                                .date-end {
                                    margin-right: 5px;
                                    // input {
                                    //     width: 90px;
                                    // }
                                }
                                .time-end {
                                    // input {
                                    //     width: 55px;
                                    // }
                                }
                            }
                        }
                        .right-user-select-ppl {
                            padding: 20px 0px;
                            width: 100%;
                            .right-user-select-ppl-header {
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 20px;
                                border-bottom: 2px solid black;
                            }
                            .right-user-select-ppl-wrap {
                                width: 330px;
                                position: relative;
                                padding-top: 20px;
                                .ppl-select {
                                    width: 100%;
                                    padding: 20px 0px;
                                    background-color: white;
                                    border: 1px solid rgba(0, 0, 0, 0.3);
                                }
                                .ppl-select-span {
                                    position: absolute;
                                    top: 55%;
                                    left: 5%;
                                    color: rgba(0, 0, 0, 0.3)
                                }
                            }
                        }
                        .right-user-select-result {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            .result-col {
                                padding: 20px 0;
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                                .result-col-title {
                                    color: rgba(0, 0, 0, 0.5)
                                }
                                .result-col-period {
                                    display: flex;
                                }
                                .result-col-hours {
                                    display: flex;
                                    div {
                                        padding-right: 20px;
                                    }
                                    .title {
                                        color: rgba(0, 0, 0, 0.5)
                                    }
                                }
                                .result-col-ppl {
                                    display: flex;
                                    div {
                                        padding-right: 20px;
                                    }
                                    .title {
                                        color: rgba(0, 0, 0, 0.5)
                                    }
                                }
                            }
                            .total {
                                .title {
                                    color: rgba(0, 0, 0, 0.5)
                                }
                            }
                        }
                        .reservation-btn {
                            padding-top: 20px;
                            width: 330px;
                            input {
                                width: 100%;
                                padding: 20px 35px;
                                color: white;
                                font-weight: bold;
                                background-color: rgb(0, 106, 213);
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}