.ProductDetail {
    display: flex;
    justify-content: center;
    .product-datail-container {
        .product-image-slider {
            position: relative;
            width: 1024px;
            height: 540px;
            padding-left: 30px;
            .product-image-cnt {
                position: relative;
                width: 100px;
                height: 30px;
                left: 5%;
                bottom: 15%;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 10px;
                i {
                    font-size: 25px;
                    color: white;
                    margin-right: 20px;
                }
                span {
                    color: white;
                    font-weight: bold;
                    font-size: 23px;
                }
            }
            .DetailSlider {
                width: 1024px;
                height: 640px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .icon {
                position: absolute;
                background-color: white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid transparent;
                cursor: pointer;
                i {
                    width: 100%;
                    font-size: 20px;
                    color: black;
                }
            }
            .link {
                top: 25%;
                left: 80%;
            }
            .book-mark {
                top: 25%;
                left: 90%;
            }
        }
        .product-detail-content-container {
            display: flex;
            flex-direction: column;
            padding-top: 120px;
            width: 100%;
            .product-detail-info-wrap {
                padding-top: 30px;
                display: flex;
                .left {
                    display: flex;
                    flex-direction: column;
                    width: 700px;
                    padding-right: 20px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    .left-top {
                        padding-top: 20px;
                        .left-top-header {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 20px;
                            span {
                                font-size: 20px;
                                font-weight: bold;
                                color: rgb(0, 106, 213);
                            }
                            .left-top-heaer-number {
                                font-size: 12px;
                                font-weight: bold;
                                padding: 8px;
                                border-radius: 5px;
                                color: rgb(0, 106, 213);
                                border: 1px solid rgba(0, 0, 0, 0.2)
                            }
                        }
                        .left-top-desc {
                            padding-bottom: 20px;
                            h3 {
                                font-size: 50px;
                            }
                        }
                        .left-top-host-info {
                            display: flex;
                            padding-bottom: 20px;
                            .left-top-host-info-image {
                                width: 60px;
                                height: 60px;
                                padding-right: 15px;
                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .left-top-host-info-desc {
                                display: flex;
                                flex-direction: column;
                                align-self: center;
                                .host-title {
                                    font-size: 12px;
                                    color: rgba(0, 0, 0, 0.3);
                                    padding-bottom: 5px;
                                }
                                .host-name {
                                    font-weight: bold;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                    .left-middle-table {
                        padding-top: 50px;
                        width: 700px;
                        .left-middle-table-header {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 2px solid black;
                            padding-bottom: 10px;
                            font-weight: bold;
                            .left-middle-table-btn {
                                input {
                                    background-color: transparent;
                                    border: 1px solid rgb(0, 106, 213);
                                    padding: 8px 13px;
                                    outline: none;
                                    cursor: pointer;
                                    &:first-child {
                                        border-right: none;
                                    }
                                    &:last-child {
                                        border-left: none;
                                    }
                                }
                            }
                        }
                        .left-middle-table-content {
                            display: flex;
                            .row {
                                width: 350px;
                                display: flex;
                                flex-direction: column;
                                padding: 0px 10px;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                                &:last-child {
                                    border-left: 1px solid rgba(0, 0, 0, 0.3);
                                }
                                .row-ele {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 30px 0px;
                                    &:first-child {
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                                    }
                                    .area-title,
                                    .story-title,
                                    .acceptable-ppl-title,
                                    .acceptable-cars-title {
                                        font-size: 20px;
                                        color: rgba(0, 0, 0, 0.3);
                                    }
                                }
                            }
                        }
                    }
                    .left-desc {
                        line-height: 40px;
                    }
                    .left-desc-rules {
                        .left-desc-rules-header {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            font-weight: bold;
                            padding-top: 20px;
                        }
                    }
                    .left-desc-nearby-info {
                        .left-desc-nearby-header {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            font-weight: bold;
                            padding-top: 20px;
                        }
                    }
                }
                .right {
                    width: 360px;
                    .right-wrap {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 15px;
                        .right-price-and-rate {
                            display: flex;
                            flex-direction: column;
                            .price {
                                padding-top: 10px;
                                font-size: 30px;
                            }
                            .rate {
                                padding: 20px 0px;
                                color: rbga(0, 0, 0, 0.2);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                        .right-user-select-date {
                            padding: 20px 0px;
                            width: 100%;
                            .right-user-select-date-header {
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 20px;
                                border-bottom: 2px solid black;
                            }
                        }
                        .right-user-select-date-wrap {
                            position: relative;
                            display: flex;
                            width: 100%;
                            padding-top: 20px;
                            flex-direction: column;
                            i {
                                position: relative;
                                padding: 0 5px;
                                left: 3px;
                                top: 12px;
                            }
                            .date-wrap {
                                display: flex;
                                width: 285px;
                                input {
                                    padding: 15px 0px;
                                }
                                .date-start {
                                    margin-right: 5px;
                                }
                                .time-start {}
                                .date-end {
                                    margin-right: 5px;
                                }
                                .time-end {
                                    padding-top: 20px;
                                    width: 100%;
                                    input {
                                        border: 1px solid rgba(0, 0, 0, 0.2);
                                    }
                                }
                            }
                        }
                        .right-user-select-ppl {
                            padding: 20px 0px;
                            width: 100%;
                            .right-user-select-ppl-header {
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 20px;
                                border-bottom: 2px solid black;
                            }
                            .right-user-select-ppl-wrap {
                                width: 330px;
                                position: relative;
                                padding-top: 20px;
                                .ppl-select {
                                    width: 100%;
                                    padding: 20px 0px;
                                    background-color: white;
                                    border: 1px solid rgba(0, 0, 0, 0.3);
                                }
                                .ppl-select-span {
                                    position: absolute;
                                    top: 55%;
                                    left: 5%;
                                    color: rgba(0, 0, 0, 0.3)
                                }
                            }
                        }
                        .right-user-select-result {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            .result-col {
                                padding: 20px 0;
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                                .result-col-title {
                                    color: rgba(0, 0, 0, 0.5)
                                }
                                .result-col-period {
                                    display: flex;
                                }
                                .result-col-hours {
                                    display: flex;
                                    div {
                                        padding-right: 20px;
                                    }
                                    .title {
                                        color: rgba(0, 0, 0, 0.5)
                                    }
                                }
                                .result-col-ppl {
                                    display: flex;
                                    div {
                                        padding-right: 20px;
                                    }
                                    .title {
                                        color: rgba(0, 0, 0, 0.5)
                                    }
                                }
                            }
                            .total {
                                .title {
                                    color: rgba(0, 0, 0, 0.5)
                                }
                            }
                        }
                        .reservation-btn {
                            padding-top: 20px;
                            width: 330px;
                            input {
                                width: 100%;
                                padding: 20px 35px;
                                color: white;
                                font-weight: bold;
                                background-color: rgb(0, 106, 213);
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
            .product-detail-info-another {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                .product-detail-map {
                    width: 1024px;
                    height: 550px;
                    z-index: -1;
                    .Map {
                        width: 100%;
                        height: 100%;
                    }
                    ;
                }
                .product-detail-another-place {
                    .product-detail-another-place-content {
                        width: 1024px;
                        img {
                            width: 100%;
                        }
                    }
                }
                .product-detail-review-container {
                    display: flex;
                    flex-direction: column;
                    .product-detail-review-header {
                        display: flex;
                        padding: 20px 0;
                        width: 100%;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        h2 {
                            font-size: 30px;
                        }
                        .star {
                            padding-left: 20px;
                        }
                        .rating-total {
                            padding-top: 6px;
                            font-size: 25px;
                            padding-left: 10px;
                        }
                    }
                    .product-detail-review-reviews {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 100%;
                        padding-top: 40px;
                        .review-rows {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            padding-bottom: 30px;
                            .review-row {
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                .review-title {
                                    font-size: 17px;
                                    width: 200px;
                                }
                                .review-rate {
                                    span {
                                        padding: 0 15px;
                                        font-size: 12px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .product-detail-review-contents {
                        max-width: 960px;
                        padding-bottom: 500px;
                        .product-detail-review-content {
                            display: grid;
                            grid-template-columns: repeat(2, 400px);
                            grid-gap: 150px;
                            padding-top: 50px;
                            padding-left: 50px;
                            .card-wrap {
                                width: 460px;
                                height: 50px;
                                .card-header {
                                    display: flex;
                                    .card-img {
                                        width: 40px;
                                        height: 40px;
                                        z-index: -1;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                        }
                                    }
                                    .card-user-info {
                                        display: flex;
                                        flex-direction: column;
                                        padding-left: 10px;
                                        padding-top: 5px;
                                        .name {
                                            font-size: 18px;
                                            font-weight: bold;
                                        }
                                        .time {
                                            padding-top: 10px;
                                            font-size: 13px;
                                            color: rgba(0, 0, 0, 0.3)
                                        }
                                    }
                                }
                                .card-content-wrap {
                                    padding-top: 30px;
                                    padding-left: 30px;
                                    .stars-outer {
                                        display: flex;
                                    }
                                    .card-content {
                                        padding-top: 20px;
                                    }
                                }
                                .delete-comment {
                                    padding-left: 250px;
                                }
                            }
                        }
                    }
                }
                .show-review-modal {
                    position: relative;
                    display: flex;
                    width: 350px;
                    left: 34%;
                    top: -250px;
                    outline: none;
                    input {
                        background-color: rgb(0, 106, 213);
                        width: 100%;
                        padding: 20px;
                        border: none;
                        font-size: 40px;
                        border-radius: 40px;
                        color: white;
                        border: none;
                        outline: none;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.stars-outer {
    position: relative;
    display: inline-block;
    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        widows: 0;
    }
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: "Font Awesome 5 Free";
    color: #f8ce0b;
    font-weight: 900;
}

.displayNone {
    display: none;
}