.Footer {
  footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    background-color: dodgerblue;
    opacity: 0.3;

    .munch-factory {
    }

    .footer-info {
      display: flex;
    }

    .footer-icons {
      display: flex;
    }
  }
}
