* {
    font-family: 'Nanum Gothic Coding', monospace;
}

.Nav {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    .nav-background {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        height: 123px;
        .main-nav {
            display: flex;
            align-items: center;
            width: 1080px;
            height: 80px;
            .logo-icon {
                margin-right: 20px;
                img {
                    width: 108px;
                    height: 27px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .search-input {
                position: relative;
                margin-right: 49px;
                input {
                    width: 370px;
                    height: 56px;
                    padding: 5px 68px 0px 19px;
                    border: 1px solid lightgray;
                    outline-style: none;
                    &::placeholder {
                        color: lightgray;
                        font-size: 15px;
                    }
                }
                .camera-icon {
                    position: absolute;
                    top: 17px;
                    right: 60px;
                    width: 20px;
                    height: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .search-icon {
                    position: absolute;
                    top: 18px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .nav-icons {
                width: 480px;
                .nav-icon {
                    font-size: 13px;
                    text-decoration: none;
                    color: #808080;
                    font-family: 'Nanum Gothic Coding', monospace;
                    font-weight: bold;
                    padding: 8px;
                    &:visited {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}

.border-without-side {
    position: fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
    left: 0px;
    top: 80px;
}

.side-nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 43px;
    border-top: 1px solid lightgray;
    background-color: #fbfcfd;
    .direction {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 1080px;
        font-size: 13px;
        font-weight: bold;
        color: gray;
        border: #fbfcfd;
        .home {
            margin-right: 15px;
            text-decoration: none;
            color: gray;
        }
        img {
            position: absolute;
            top: 3px;
            left: 39px;
            width: 5px;
        }
        .route {
            text-decoration: none;
            color: gray;
            &:visited {
                text-decoration: none;
            }
        }
    }
}